@model TRPQS.Auth.DTO.LogOnDto
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutClientPages.cshtml";
}

<!--HEADER-BAR-->
<div class="tb_header">
    <div class="container">
        <div class="col-md-6" style="padding:0;">
            <div class="tb_logo">
                <a href="home.html">
                    <img src="~/Content/ClientAssets/images/Logo G.JPG" />
                </a>
                @*<img src="admin/~/Content/ClientAssets/uploads/logo/1543300373_EBE_LOGO.png">*@
            </div>
        </div>
        <div class="col-md-4" style="padding:0;">
            <div class="tb_navbar">
                <ul>
                    <li><a href="index.html">Home &nbsp;<span style="color:#f0a2a3;"> |</span></a></li>

                    <li>
                        <!--                            <a href="">Print/SMS Ticket &nbsp;  <span style="color:#f0a2a3;"> |</span></a>
                        -->
                        <a href="#myModals" data-toggle="modal" data-target="#myModals">Print/SMS Ticket</a>  <span style="color:#f0a2a3;">
                    </li>
                    <li>
                        <a href="#myModals" data-toggle="modal" data-target="#myModals">Easy Cancel/Refund</a>  <span style="color:#f0a2a3;">

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2" style="padding:0;">

            <div class="signin_up">
                <ul>
                    <li><a href="#myModals" data-toggle="modal" data-target="#myModals">Sign In</a>  <span style="color:#f0a2a3;">/</span></li>
                    <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Sign Up</a></li>
                </ul>
            </div>
            <!------logged end---------------->
        </div>
    </div>
    <div class="shadow"><img src="~/Content/ClientAssets/images/shadow.png"></div>
</div>
<!--HEADER-BAR-END-->
<!-- Modal -->
<div class="modal fade" id="myModals" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        @*<button type="button" class="close_lft" data-dismiss="modal">&times;</button>*@
        <fieldset id="login" data-parsley-validate="">
            <button type="button" class="close_lft" data-dismiss="modal">&times;</button>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "_loginform_" }))
            {
                <div class="login-block">
                    <h1>Login</h1>
                    @*<input type="text" name="username" placeholder="Email" class="username" id="username" required="" />*@
                    @Html.TextBoxFor(m => m.UserName, new { id = "UserName", @placeholder = "User Name", @class = "username" })
                    @*<input type="password" class="password" name="password" placeholder="Password" id="password" required="" />*@
                    @Html.PasswordFor(m => m.Password, new { @id = "Password", @placeholder = "Password", @class = "password" })
                    @*<input type="checkbox" id="checkbox3" class="css-checkbox" name="rememberme" />
                <label for="checkbox3" class="css-label lite-red-check">Remember Me</label>*@
                    @Html.HiddenFor(m => m.Key, new { @id = "_key_" })
                    @Html.HiddenFor(m => m.PasswordHex, new { @id = "_hex_" })
                    <input type="button" value="Login" style="position: relative;" onclick="return submitLoginForm();">
                    <br>
                    <div class="small_loader" style="text-align:center;display:none"><img src="~/Content/ClientAssets/images/loader-small.gif"></div>
                    <div class="login_res" style="text-align:center;"></div>
                    <br>
                    <div class="forgot"><a data-dismiss="modal" href="#myModalf" data-toggle="modal" data-target="#myModalf">Forgot Password?</a></div>
                    <div class="sign_in"><a data-dismiss="modal" href="#myModal" data-toggle="modal" data-target="#myModal">Sign Up</a></div>
                </div>
                if (Model != null)
                {
                    if (Model.ErrMessage != null)
                    {
                        <div class="row">
                            <span>@Html.Display(Model.ErrMessage)</span>

                        </div>
                    }
                }
                <div>
                    @ViewBag.ErrMsg
                </div>
            }
        </fieldset>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <button type="button" class="close_lft" data-dismiss="modal">&times;</button>
        <form id="signup" data-parsley-validate="">
            <div class="login-block">
                <h1>Sign Up</h1>
                <input class="name" id="register_firstname" name="name" placeholder="Name" data-parsley-required="true" data-parsley-trigger="change"
                       data-parsley-minlength="2" data-parsley-maxlength="20" data-parsley-pattern="^[a-zA-Z\  \/]+$">
                <input type="email" value="" class="username" placeholder="Email" name="username" required />
                <input class="mobile" id="signup-username" type="text" name="mob" data-parsley-type="digits" data-parsley-required="true" data-parsley-trigger="change" required required minlength="3"
                       data-parsley-minlength="3" data-parsley-maxlength="15" placeholder="Mobile">
                <input type="password" value="" class="password" placeholder="Password" id="dfdfd" name="password" type="password" data-parsley-maxlength="15" data-parsley-minlength="6" required="" />
                <input type="password" data-parsley-maxlength="15" data-parsley-minlength="6" data-parsley-equalto="#dfdfd" data-parsley-equalto-message="Password confirmation must match the password." class="password" required="" placeholder="Repeat Password" id="password" /><br>
                <span class="terms_tb">By signing up, you agree to our <a class="cond_tb" href="#">Terms and Conditions.</a></span> <br>
                <br>

                <input type="button" value="Sign up" style="position: relative;" onclick="Signup()">
                <br>
                <div class="small_loader" style="text-align:center;display:none"><img src="~/Content/ClientAssets/images/loader-small.gif"></div>
                <div class="signup_res" style="text-align:center;"></div>
                <br>
                <div class="account"><a data-dismiss="modal" href="#myModals" data-toggle="modal" data-target="#myModals">Already have an account?</a></div>
                <div class="sign_in"><a data-dismiss="modal" href="#myModals" data-toggle="modal" data-target="#myModals">Sign In</a></div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="myModalf" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <button type="button" class="close_lft" data-dismiss="modal">&times;</button>
        <form id="forgot" data-parsley-validate="">
            <div class="login-block">
                <h1>Forgot Password</h1>
                <input type="email" name="email" placeholder="Email" class="username" data-parsley-required="true" />

                <!--    <span class="terms_tb">By signing up, you agree to our <a class="cond_tb" href="#">Terms and Conditions.</a></span> <br>
                   <br> -->

                <input type="button" value="RESET" style="position: relative;" onclick="Forgot()">

                <br>
                <div class="small_loader" style="text-align:center;display:none"><img src="~/Content/ClientAssets/images/loader-small.gif"></div>
                <div class="forgot_res" style="text-align:center;"></div>
                <br>
                <div class="account"><a href="#">Already have an account?</a></div>
                <div class="sign_in"><a data-dismiss="modal" href="#myModals" data-toggle="modal" data-target="#myModals">Sign In</a></div>
            </div>
        </form>
    </div>
</div>
<!--SEARCH-BAR-->
<div class="container" ng-controller="search">
    <div class="row" style="min-height:400px;margin-top:120px;">
        <div class="col-md-6">
            <form id="myForm" method="post" data-parsley-validate="" autocomplete="off">
                <section id="Search" class="LB XXCN  P20">
                    <h1 class="bookTic XCN TextSemiBold">Online Bus Tickets Booking with Zero Booking Fees</h1>
                    <div class="searchRow clearfix">
                        <div class="LB">
                            <label class="inputLabel">From</label>
                            <input id="board_point" class="XXinput searching" placeholder="Enter a city" type="text" data-id="board_point" autocomplete="off" data-parsley-error-message="Please select a source city" tabindex="1" required />
                            <div class="errorMessageFixed"> </div>
                        </div>
                        <span class="switchButton" id="switchButton"></span>
                        <div class="searchRight NoPaddingRight">
                            <label class="inputLabel">To</label>
                            <input id="Destination" class="XXinput searching" placeholder="Enter a city" type="text" tabindex="2" data-id="drop_point" autocomplete="off" data-parsley-error-message="Please select a destination city" required />
                            <div class="errorMessageFixed"> </div>
                        </div>
                    </div>
                    <div class="searchRow clearfix">
                        <div class="LB">
                            <label class="inputLabel">Date of Journey</label>
                            <span class="blackTextSmall"></span>
                            <input id="Calenderfrom" class="XXinput calendar date-pick  pickup_date pickup_datef Calenderfrom" placeholder="dd-mm-yyyy" readonly type="text" title="Date in the format dd-mmm-yyyy" tabindex="3" />
                        </div>
                        <div class="searchRight retJouney">
                            <label class="inputLabel">Date of Return<span class="opt">&nbsp;(Optional)</span></label>
                            <input id="Calenderreturn" class="XXinput calendar date-pick pickup_dater" placeholder="dd-mm-yyyy" type="text" title="Date in the format dd-mmm-yyyy" readonly tabindex="4" />


                        </div>

                    </div>
                    <div class="dateError">Onward date should be before return date</div>
                    <button class="button reset_new" id="resetBtn" ng-click="resetbtn()">Reset Date</button>
                    <button class="RB Xbutton" id="searchBtn" ng-click="homesearch()">Search Buses</button>
                </section>
            </form>
        </div>
        <div class="col-md-6">
            <div class="tb_bus">
                <img src="~/Content/ClientAssets/images/bus.png">
            </div>
        </div>
    </div>
</div>
<!--SEARCH-BAR-END-->
<!--operator-BAR-->
<div class="tb_operator">
    <div class="container">
        <div class="tb_inner">
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="tb_operator">
                            <img src="~/Content/ClientAssets/images/routte.png"> &nbsp;<span class="tb_operator1">67000 <small class="smalls">ROUTES</small></span>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-12 col-xs-12">
                        <div class="tb_operator left">
                            <img src="~/Content/ClientAssets/images/route.png">  &nbsp;<span class="tb_operator2">1800<small class="smalls"> BUS OPERATORS</small></span>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-12 col-xs-12">
                        <div class="tb_operator right">
                            <img src="~/Content/ClientAssets/images/ticket.png">  &nbsp;<span class="tb_operator3">6,00,000 + <small class="smalls">TICKETS SOLD</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--operator-BAR end-->
<!--offers-BAR-->
<div class="tb_offers">
    <div class="shadow"><img src="~/Content/ClientAssets/images/shadow.png"></div>
    <div class="outer">
        <div class="container">
            <div class="tb_inner">
                <div class="row">
                    <div class="wrapper">
                        <div class="col-md-4">
                            <div class="tb_offers1">
                                <img src="~/Content/ClientAssets/images/rupees.png">
                                <div class="tb_list_offer">
                                    <div class="ofer_list">UPTO RS.100 OFF</div>
                                    <div class="ofer_list_bold">TRAVEL SMART</div>
                                    <div class="ofer_list_normal">Code:RBM120</div>
                                    <div class="ofer_list_normal">Book Using Pay Money</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="tb_offers1_top">
                                <img src="~/Content/ClientAssets/images/bed.png">
                                <div class="tb_list_offer" style=" border-right: 1px solid #dddddd;">
                                    <div class="ofer_list">UPTO 70% OFF</div>
                                    <div class="ofer_list_bold">ON HOTELS ACROSS INDIA</div>
                                    <div class="ofer_list_normal"> Offer Code:RBRTM120</div>
                                    <div class="ofer_list_normal">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="tb_offers3">
                                <img src="~/Content/ClientAssets/images/phone.png">
                                <div class="tb_list_offer">
                                    <div class="ofer_list"> &nbsp;&nbsp;FLAT Rs.100 OFF</div>
                                    <div class="ofer_list_bold left"> &nbsp;&nbsp;Truebus APP OFFER</div>
                                    <div class="ofer_list_normal">&nbsp;&nbsp; book via the Truebus APP</div>
                                    <div class="ofer_list_normal">&nbsp;&nbsp;  Code:ERHH54</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border">
            </hr>
        </div>
    </div>
</div><!--list-BAR-->
<div class="container">
    <div class="rb_list">
        <div class="row">
            <div class="wrapper">
                <div class="tb_inner">
                    <div class="col-md-3">
                        <div class="footer_main">
                            <h4 class="tb_head">Top Bus Routers</h4>
                            <div class="tb_route_list">
                                <ul>
                                    <li><a href="#">Hyderabad to Bangalore</a></li>
                                    <li><a href="#">Pune to Bangalore </a></li>
                                    <li><a href="#">Hyderabad to Chennai</a></li>
                                    <li><a href="#">Coimbatore to Bangalore </a> </li>
                                    <li><a href="#">Chennai to Madurai</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer_main">
                            <h4 class="tb_head">Top Cities</h4>
                            <div class="tb_route_list">
                                <ul>
                                    <li><a href="#">Hyderabad to Bangalore</a></li>
                                    <li><a href="#">Pune to Bangalore </a></li>
                                    <li><a href="#">Hyderabad to Chennai</a></li>
                                    <li><a href="#">Coimbatore to Bangalore </a> </li>
                                    <li><a href="#">Chennai to Madurai</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer_main">
                            <h4>&nbsp;</h4>
                            <div class="tb_route_list">
                                <ul>
                                    <li><a href="#">Hyderabad to Bangalore</a></li>
                                    <li><a href="#">Pune to Bangalore</a></li>
                                    <li><a href="#">Hyderabad to Chennai</a></li>
                                    <li><a href="#">Coimbatore to Bangalore</a>  </li>
                                    <li><a href="#">Chennai to Madurai</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer_main">
                            <h4 class="tb_head">Top Bus Operators</h4>
                            <div class="tb_route_list">
                                <ul>
                                    <li><a href="#">Hyderabad to Bangalore</a></li>
                                    <li><a href="#">Pune to Bangalore</a></li>
                                    <li><a href="#">Hyderabad to Chennai</a></li>
                                    <li><a href="#">Coimbathroe to Bangalore</a></li>
                                    <li>
                                        <a href="#">
                                            Chennai to Madurai
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="border2">
    </hr>
</div>
<!--list-BAR end-->
<!--footer-BAR-->
<div class="container">
    <div class="row">
        <div class="tb_inner">
            <div class="col-md-9">
                <div class="tb_footer">
                    <ul>
                        <li><a href="#">About TrueBus &nbsp;|</a></li>
                        <li><a href="#">FAQ   &nbsp;|</a></li>
                        <li><a href="#">Careers  &nbsp;|</a></li>
                        <li><a href="#">TrueBus Coupons  &nbsp; |</a></li>
                        <li><a href="#">Contact Us   &nbsp;|</a></li>
                        <li><a href="#">Terms of Use   &nbsp;|</a></li>
                        <li><a href="#">Privacy Policy   &nbsp;|</a></li>
                        <li><a href="#">TrueBus on Mobilenew .</a></li>
                    </ul>
                </div>
                <div class="footer_con">  &#169;  2016 <a href="https://techware.co.in/" style="text-decoration:none;">Techware Solution</a></div>
            </div>
            <div class="col-md-3">
                <div class="tb_social">
                    <ul>
                        <li>  <a href="#"><img src="~/Content/ClientAssets/images/facebook.png"></a> </li>
                        <li>  <a href="#"> <img src="~/Content/ClientAssets/images/twitter.png"></a></li>
                        <li>  <a href="#">  <img src="~/Content/ClientAssets/images/google.png"></a></li>
                    </ul>
                </div>
                <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
            </div>
        </div>
    </div>
</div>



